.underground{
	position: absolute;
	padding: 0;
	margin: 0;
	border: none;	
	width: 100%;
	height: 100%;
}

.earth{
	position: absolute;
	padding: 0;
	margin: 0;
	border: none;	
	width: 100%;	
}

.image-topleft{
	position:relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	border: none;
}

.image-topright{
	position:relative;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border: none;
}

.image-bottomleft{
	position:relative;
	display:block;
	
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	border: none;
}


.image-bottomright{
	position:relative;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border: none;
}

.image-top{
	position:relative;
	top: 0;
	padding: 0;
	margin: 0;
	border: none;
}



.image-bottom{
	position:relative;
	bottom: 0;	
	padding: 0;
	margin: 0;
	border: none;
}

.image-left{	
	float: left;
	padding: 0;
	margin: 0;
	border: none;
}



.image-right{
	float: right;
	padding: 0;
	margin: 0;
	border: none;
}

.panel-relative{
	position: relative;
}







