.footer-left{
	position:relative;
	float: left;
	background: url(footer-left.png) repeat-x;
	width: 300px;
	height: 50px;
}

.footer-right{	
	position:relative;	
	float: right;
	background: url(footer-right.png) repeat-x;
	width: 300px;
	height: 50px;	
}

.footer-middle{
	position:relative;

	background: url(footer-middle.png) repeat-x;
	
	margin-left: 300px;
  	margin-right: 300px;
  	height: 50px;
}
