.rightpanel-top-background{
	position: relative;
	background: url(rightpanel-top-middle.png) repeat-x;
	height: 48px;
	margin-left:48px;
	margin-right:48px;
	
	border: none;
}

.rightpanel-bottom-background{
	position: relative;
	background: url(rightpanel-bottom-middle.png) repeat-x;
	height: 48px;
	
	margin-left:48px;
	margin-right:48px;
	border: none;
}

.rightpanel-left-background{
	position: absolute;
	left: 0;
	top:0;
	bottom:0;
	background: url(rightpanel-left-middle.png) repeat-y;	
		
	width: 48px;
	margin: 0;
	border: none;
}

.rightpanel-right-background{
	position: absolute;
	right: 0;
	top:0;
	bottom:0;
	background: url(rightpanel-right-middle.png) repeat-y;	
		
	width: 48px;
	margin: 0;
	border: none;
}

.rightpanel-middle-background{
	position: relative;	
	background: url(rightpanel-middle-middle.png) repeat;
	
	margin-left: 48px;
	margin-right: 48px;
	border: none;
}