.dooms-preview-classic-top-background{
	position: relative;
	background: url(dooms-preview-classic-top-middle.png) repeat-x;
	height: 8px;
	
	margin-top: 5px;	
	margin-left:8px;
	margin-right:8px;
	
	border: none;
}

.dooms-preview-classic-bottom-background{
	position: relative;
	background: url(dooms-preview-classic-bottom-middle.png) repeat-x;
	height: 8px;
	
	margin-bottom: 5px;
	margin-left:8px;
	margin-right:8px;
	border: none;
}

.dooms-preview-classic-left-background{
	position: absolute;
	left: 0;
	top:0;
	bottom:0;
	background: url(dooms-preview-classic-left-middle.png) repeat-y;	
		
	width: 8px;
	margin: 0;
	border: none;
}

.dooms-preview-classic-right-background{
	position: absolute;
	right: 0;
	top:0;
	bottom:0;
	background: url(dooms-preview-classic-right-middle.png) repeat-y;	
		
	width: 8px;
	margin: 0;
	border: none;
}

.dooms-preview-classic-middle-background{
	position: relative;	
	background: url(dooms-preview-classic-middle-middle.png) repeat;	
		
	padding: 10px;
	
	margin-left: 8px;
	margin-right: 8px;
	border: none;
}

.dooms-preview-classic-middle-selling-background{
	position: relative;	
	background: url(dooms-preview-classic-middle-middle-selling.png) repeat;	
		
	padding: 10px;
	
	margin-left: 8px;
	margin-right: 8px;
	border: none;
}