.leftpanel-top-background{
	position: relative;
	background: url(leftpanel-top-middle.png) repeat-x;
	height: 48px;
	margin-left:48px;
	margin-right:48px;
	
	border: none;
}

.leftpanel-bottom-background{
	position: relative;
	background: url(leftpanel-bottom-middle.png) repeat-x;
	height: 48px;
	
	margin-left:48px;
	margin-right:48px;
	border: none;
}

.leftpanel-left-background{
	position: absolute;
	left: 0;
	top:0;
	bottom:0;
	background: url(leftpanel-left-middle.png) repeat-y;	
		
	width: 48px;
	margin: 0;
	border: none;
}

.leftpanel-right-background{
	position: absolute;
	right: 0;
	top:0;
	bottom:0;
	background: url(leftpanel-right-middle.png) repeat-y;	
		
	width: 48px;
	margin: 0;
	border: none;
}

.leftpanel-middle-background{
	position: relative;	
	background: url(leftpanel-middle-middle.png) repeat;	
		
	
	margin-left: 48px;
	margin-right: 48px;
	border: none;
}