.login-in-header-top-background{
	position: relative;
	background: url(login-in-header-top-middle.png) repeat-x;
	height: 12px;
	margin-left:12px;
	margin-right:12px;
	
	border: none;
}

.login-in-header-bottom-background{
	position: relative;
	background: url(login-in-header-bottom-middle.png) repeat-x;
	height: 12px;
	
	margin-left:12px;
	margin-right:12px;
	border: none;
}

.login-in-header-left-background{
	position: absolute;
	left: 0;
	top:0;
	bottom:0;
	background: url(login-in-header-left-middle.png) repeat-y;	
		
	width: 12px;
	margin: 0;
	border: none;
}

.login-in-header-right-background{
	position: absolute;
	right: 0;
	top:0;
	bottom:0;
	background: url(login-in-header-right-middle.png) repeat-y;	
		
	width: 12px;
	margin: 0;
	border: none;
}

.login-in-header-middle-background{
	position: relative;	
	background: url(login-in-header-middle-middle.png) repeat;	
		
	
	margin-left: 12px;
	margin-right: 12px;
	border: none;
}