.login-in-header-reset-normal{
	background: url(login-in-header-reset-normal.png);
}

.login-in-header-register-normal{
	background: url(login-in-header-register-normal.png);
}

.login-in-header-submit-normal{
	background: url(login-in-header-submit-normal.png);
	color: lime;
	
}