
.titlebar-upper{
	position:relative;
	top: 0;
	background: url(titlebar-upper.png) repeat-x;
	height: 100%;
	margin-left: 0px;
  	margin-right: 0px;
}

.titlebar-lower-left{
	position:relative;
	float: left;
	background: url(titlebar-lower-left.png) no-repeat;
	width: 120px;
	height: 100%;
}

.titlebar-lower-right{	
	position:relative;	
	float: right;
	background: url(titlebar-lower-right.png) no-repeat;
	width: 240px;
	height: 100%;
}

.titlebar-lower-middle{
	position:relative;
	top: 0;
	background: url(titlebar-lower-middle.png) repeat-x;
	margin-left: 120px;
  	margin-right: 240px;
  	height: 100%;
}

