.titlebar-lower-theme-button {
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.titlebar-upper-quickmenu-button {
	margin: 5px auto 5px auto;
	padding: 13px;
}

.chat-button-normal {	
	background: url(chat-button-bg-normal.png);	
}

.friends-activity-button-normal {	
	background: url(friends-activity-button-bg-normal.png);	
}

.activity-button-normal {	
	background: url(activity-button-bg-normal.png);	
}